<% include ./partials/header%>
<h1>Signup</h1>

<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button class="btn btn-success">Signup</button>
</form>

<% include ./partials/footer%>