<% include ../partials/header%>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to Yelp Camp!</h1>
        <p><a class="btn btn-primary btn-leg" href="/campgrounds/new">Add New Campground</a></p>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image%>" alt="campground image">
                    <div class="caption">
                        <h4><a href="/campgrounds/<%=campground._id%>" ><%= campground.name%></a></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div> 
    <a href="/">Go Back</a>
</div>
<% include ../partials/footer%>