
body{
    background-color:#000000;
}

h1{
    color:#fff;
}
#landing-text{
    text-align: center;    /*horizontaly center*/
    z-index:1;
    position:relative;
    padding-top:40vh;    /*vertically center*/
}

.slideshow{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 0;
    
}

.slideshow li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;            /*scale the backgroud image to fit the screen*/
    background-position: 50% 50%;    /*horizontally and vertically center the background image*/
    background-repeat: no-repeat;
    opacity:0;
    z-index: 0;
    animation: slideAnimation 50s linear infinite; /*linear - animation runs at the same speed, lasts for 50s and repeats(10sec each), infinitely*/
}

.slideshow li:nth-child(1){
    background-image: url(http://i.imgur.com/K3mPv14.jpg);
}
.slideshow li:nth-child(2){
    background-image: url(http://i.imgur.com/SBEmFpv.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url(http://i.imgur.com/emvhOnb.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 40s;
}

@keyframes slideAnimation{
    0%{
        opacity:0;
        animation-timing-function:ease-in;
    }
    10%{
        opacity:1;
        animation-timing-function:ease-out;
    }
    20%{
        opacity:1;
    }
    30%{
        opacity:0;
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}